:root {
  --min-width: 450px;
  --max-width: 1200px;
  --primary-colour: #2c3e50;
  --secondary-colour: #27ae60;
  --tertiary-colour: #f1c40f;
  --accent-colour: #e74c3c;
}

body {
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: auto;
}

.menu::before {
  content: "≡";
  font-weight: bold;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: end;
  padding: 8px 18px;
  font-family: "Indie Flower", cursive;
}

.menu.open::before {
  content: "x";
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: end;
  padding: 8px 18px;
  font-family: "Indie Flower", cursive;
}

.menu-list {
  display: none;
}

.menu-list.show {
  display: block;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 20px;
}

.menu-list li {
  padding: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

.menu-list li a {
  text-decoration: none;
  color: var(--tertiary-colour);
}

.menu-list li a:hover {
  color: var(--secondary-colour);
}

nav {
  background-color: var(--primary-colour);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 450px;
}

/* nav ul li {
  list-style: none;
} */

main {
  display: flex;
}

.side {
  width: 300px;
  height: 100vh;
  background-color: rgb(255, 254, 242);
  padding: 0 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
  gap: 1rem;
}

#map {
  min-height: 300px;
}

.question,
.response {
  border: 1px solid black;
  border-radius: 5px;
}

.answer, .choice {
  display: none;
  height: 0;
}

.side {
  display: none;
}

.side h2 {
  text-align: center;
}

input[type="radio" i]:disabled {
  color: blue;
}

button {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--primary-colour);
  color: aliceblue;
  font-size: 1.3rem;
  margin-bottom: 6rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-colour);
  border-color: var(--accent-colour);
}

.question,
.response {
  font-size: 1.2rem;
  padding: 10px;
  font-weight: 550;
}

label {
  display: flex;
  gap: 8px;
}

.response {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.response span {
  height: 40px;
  width: 40px;
  background-color: #cbf7d5;
  align-self: center;
}

#stats {
  padding: 1rem;
}

#stats p {
  margin-bottom: 0;
  font-weight: 600;
  color: var(--primary-colour);
}

#stat-head {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.side h2 {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--primary-colour);
  color: white;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 640px) {
  .menu-list {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0;
    text-align: center;
    padding: 15px 2rem;
  }

  .menu {
    display: none;
  }
  .grid > :first-child {
    grid-column: 1 / -1;
  }
  .grid > :last-child {
    grid-column: 1 / -1;
    height: 60px;
  }

  .grid {
    margin-left: 1rem;
  }

  .side {
    display: block;
  }
}
