:root {
    --min-width: 450px;
    --max-width: 1200px;
    --primary-colour: #2c3e50;
    --secondary-colour: #27ae60;
    --tertiary-colour: #f1c40f;
    --accent-colour: #e74c3c;
}

body {
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: auto;
}

.menu::before {
    content: '≡';
    font-weight: bold;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: end;
    padding: 8px 18px;
    font-family: "Indie Flower", cursive;
}

.menu.open::before {
    content: 'x';
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: end;
    padding: 8px 18px;
    font-family: "Indie Flower", cursive;
}

.menu-list {
    display: none;
}

.menu-list.show {
    display: block;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}

.menu-list li {
    padding: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.menu-list li:hover {
    color: var(--tertiary-colour);
}

nav {
    background-color: var(--primary-colour);
}

.banner {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    overflow: hidden;
    min-width: 450px;
}

nav ul li {
    list-style: none;
}

main {
    display: flex;
}

.side {
    width: 300px;
    height: 600px;
    background-color: antiquewhite;

}

.grid {
    display: grid;
    border: 2px solid black;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    height: 600px;
    gap: 1rem;
}





footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 1rem 0;
    background-color: var(--primary-colour);
    color: white;
    font-size: 1rem;
    max-width: var(--max-width);
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


@media (min-width: 640px) {
    .menu-list {
        display: flex;        
         justify-content: space-between;
        color: white;
        font-size: 1.2rem;
        margin-bottom: 0;
        text-align: center;
        padding: 15px;
    }

    .menu {
        display: none;
    }
}